@media(max-width: 360px){
	#details-form{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
}
input{
	width: 200px;
}
#save-button{
	width: 200px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;

}
#pic-containment{

	height: 200px;
	width: 300px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	margin-left: 34px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;
	


}

}
@media(max-width: 470px){
	#details-form{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
}
input{
	width: 200px;
}
#save-button{
	width: 200px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;

}
#pic-containment{

	height: 200px;
	width: 300px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	margin-left: 34px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;
	


}

}
@media(max-width: 500px){
	#details-form{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
}
input{
	width: 200px;
}
#save-button{
	width: 200px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;

}
#pic-containment{

	height: 200px;
	width: 300px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	margin-left: 34px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;
	


}

}
@media(max-width: 600px){
	#details-form{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
}
input{
	width: 300px;
}
#save-button{
	width: 200px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;

}
#pic-containment{

	height: 200px;
	width: 300px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	margin-left: 34px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;
	


}
}
@media(max-width: 800px){
	#details-form{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
}
input{
	width: 400px;
}
#save-button{
	width: 200px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;

}
#pic-containment{

	height: 200px;
	width: 300px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	margin-left: 34px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;
	


}
}