html, body{
	margin:0px;
	height: 100%;
	padding: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#top-header{

	font-family: calibri light;
   
	color:  #00CCFF;
	height: 58px;
	padding: 1px;
	font-size: 19px;
	background: -webkit-linear-gradient(left,darkblue,#0066FF);
	text-align: center;
}
#top-header a{
	text-decoration: none;
	color:  white;
}
#top-header svg{
	fill: white;
	width: 30px;
	height: 20px;
	float: left;
	
}
#top-header li{
	display: inline-block;
}
.image_holder{
	
	text-align: center;
	
}
.image_holder img{
	width: 130px;
	height: 130px;
	margin-top: -50px;
	border-radius: 100%;
	border: 2px solid #0066FF;
	object-fit: cover;
	object-position: top;


}
.name_container{
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 20px;
}
.blue{
	background: -webkit-linear-gradient(left,darkblue,#0066FF);
	height: 10%;
}
#page-intro-container{
	padding: 10px;
	height: 40px;

}
#chevron{
	float: left;
	margin-left: -28px;
}

#my-profile-note{
	
	background: #00CCFF;
	padding: 10px 30px;
	color: white;
	font-family:calibri light;
	border-radius: 20px 20px 2px;
	text-decoration: none;
	font-weight: bolder;

}
.status_container{
	
	padding: 5px;
	font: 400;
	
}
.content-container{
	
	
	width: 600px;
	margin:auto;
	padding: 20px;
}
.status_text{
	padding: 5px;
	color: blue;
}
.cards{
	padding: 20px;
	margin: 20px;
	background: white;
	box-shadow: 10px 10px 10px #0066FF;
	border-radius: 8px;
}
.cards1{
	padding: 20px;
	margin: 20px;
	background: white;
	
	border-radius: 8px;
}
.cards table{
	width: 100%;
}
.cards table td{
	
	width: 150px;
}
.number{
	font-size: 25px;
	color: #0066FF;
}
.text{
	color: black;
	font-weight: 600;
}

.edit_profile_container{
	padding: 10px;
	text-align: center;
	
}
.edit_profile_container table{
		background: yellow;
		align-self:middle;
}
.edit_profile_container svg{
	width: 20px;
}
.link{
	padding: 10px 30px;
	border: 2px solid #0066FF;
	text-decoration: none;
	color: #0066FF;
	border-radius: 90px;
}
.profile-section{
	display: -webkit-box;
	-webkit-box-orient:horizontal;

}
.online_aleart{
	border-radius: 100%;
	margin-top: -20px;
	padding: 4px;
	border: 0px;
	background:#0066FF;
}
#pic-containment{

	height: 200px;
	width: 200px;
	padding: 10px;
	text-align: center;
}
#pic-containment img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
#other-content{
	
	height: 200px;
	padding: 10px;
	width: 300px;


}
#other-content li{
	list-style: none;
	padding: 1px;
}
#txt1{
	font-size:13px;
	color: black;
	font-family: segoe ui light;
	font-weight: bolder;
}
#name-container{
	font-size:25px;
	color:#00CCFF;
	font-family:segoe ui light;
	font-weight: bolder;
}

#txt3{

	font-size:13px;
	color: grey;
	font-family: segoe ui light;
	font-weight: bolder;
}
#followers li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}
#edit-buton{
	border:2px solid #00CCFF;
	border-radius: 20px;
	padding: 5px 30px;
	font-weight: bolder;
	font-family: calibri;
	color: #00CCFF;
	text-decoration: none;
}
#edit-buton:hover{

	border-radius: 20px;
	padding: 5px 30px;
	font-weight: bolder;
	background: #00CCFF;
	font-family: calibri;
	color: white;
	transition: all 0.5s;
	text-decoration: none;
}
#change-avatar-button{
	width: 100px;
	background:  black;
	font-family: segoe ui light;
	font-weight: bolder;
	color: white;
	border: 0px;
	padding: 5px;
	border-radius: 10px;
	visibility: hidden;
}
#pic-containment:hover #change-avatar-button{
  visibility: visible;
}
.edit-profile-section{
	padding: 10px;
	

}

#colm1{
	padding: 10px;
}
#colm2{
	padding: 10px;
}
#colm1 li{
	list-style: none;
	padding: 10px;
}
#colm2 li{
	list-style: none;
	padding: 10px;
}
.labels{
	font-family: segoe ui light;
	color:#00CCFF;
	font-size: 20px;
	font-weight: bolder; 
}
input{
	   outline: none;
	    border:0px;
     	border-bottom: 2px solid #00CCFF;
     	width: 150px;
     	padding: 20px;
     	font-family: segoe ui light;
     	font-weight: bolder;
}
#save-button{
	background: -webkit-linear-gradient(left,blue, #00CCFF);
	padding: 10px;
	font-family: calibri light;
	color: white;
	border-radius: 20px;
	border:0px;
	width: 200px;
}
#edit-profile-section:target{
	visibility: visible;
}

#edit-button:target #edit-profile-section{
	visibility: visible;
}
#close-link{
	text-decoration:none;
	color: #00CCFF;
	font-family: segoe ui light;
	font-size: 30px;
	font-weight: bolder;
	
}





