#textbox{
     	border:0px;
     	border-bottom: 2px solid #00CCFF;
     	width: 400px;
     	padding: 20px;
          color: white;
          outline: none;
     	font-family: segoe ui light;
     	font-weight: bolder;
          background: transparent;

     }
     #send_button{
     	background: transparent;
     	color: white;
     	border:0px;
     	font-size: 25px;
     	font-weight: bolder;

     }

     ::placeholder { 
     color: white;


     }
     @media(max-width: 360px){
          #textbox{
          border:0px;
          border-bottom: 2px solid #00CCFF;
          width: 250px;
          padding: 20px;
          font-family: segoe ui light;
          font-weight: bolder;
          background: transparent;
          outline: none;

     }

     }

      @media(max-width: 480px){
          #textbox{
          border:0px;
          border-bottom: 2px solid #00CCFF;
          width: 250px;
          padding: 20px;
          font-family: segoe ui light;
          font-weight: bolder;
          background: transparent;
          outline: none;

     }

     }